body{

    background-color: black;
    color: white;
}

th{
    color: white;
    border: solid orange 5px;
}
td{
    color: white;
    border: solid orange 5px;
}
.form-group{
    color: white;

}
label{
    color: black;
}
.card-header{
    color: black;
}