
 {% include "css.html.twig" %}
 
<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="https://st3.depositphotos.com/3867453/14101/v/450/depositphotos_141016536-stock-illustration-letter-j-logo-icon-design.jpg" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
      Jeux
    </a>

        <div class="navbar-menu ml-auto">
        <ul class="nav nav-pills">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="http://localhost:8000/jeux/application">Articles</a>
  </li>
</ul>
            
                </div>

  </div>
</nav>