
 {% include "base.html.twig" %}


<nav>
  <ul>
    <li>
      <a href="{{path('app_jeux_application')}}">Articles</a>
      <span></span><span></span><span></span><span></span>
    </li>
    <li>
      <a href="{{path('categories')}}">Categories</a>
      <span></span><span></span><span></span><span></span>
    </li>
    <li>
      Deconnexion
      <span></span><span></span><span></span><span></span>
    </li>
  </ul>
</nav>
