
 {% include "base.html.twig" %}

<div class="img-accueil">
<img src="https://img.freepik.com/vecteurs-libre/skull-gaming-with-joy-stick-embleme-style-moderne_32991-492.jpg?w=2000" class="img-thumbnail" alt="..." height="125px" width="125px">
</div>
<div class="card" id="card-accueil">
  <div class="card-body">
    <p class="card-text">COIN DU GEEK</p>
  </div>
</div>


<nav>
  <ul>
    <li>
      <a href="{{path('app_jeux_application')}}">Articles</a>
      <span></span><span></span><span></span><span></span>
    </li>
    <li>
      <a href="{{path('categories')}}">Categories</a>
      <span></span><span></span><span></span><span></span>
    </li>
    <li>
      Deconnexion
      <span></span><span></span><span></span><span></span>
    </li>
  </ul>
</nav>

<div class="wrap">
  <button class="button">Twitter</button>
</div>
